* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar {
    display: flex;
    padding: 20px 20px 20px 50px;
    justify-content: space-between;
    align-items: center;
}

.logo h1 a {
    text-decoration: none;
    color: black;
}

.menu-item a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.center-menu,
.right-menu {
    display: flex;
    list-style: none;
}

.right-menu {
    margin-right: 30px;
    gap: 40px;
}

.center-menu li,
.right-menu li {
    margin: 0 1rem;
}

.facebook-icon a img,
.github-icon a img,
.menu-item a img {
    height: 100%;
}

.switch {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    left: 50px;
}

.switch>span {
    position: absolute;
    top: 14px;
    pointer-events: none;
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    width: 50%;
    text-align: center;
}

input.check-toggle-round-flat:checked~.off {
    color: #000;
}

input.check-toggle-round-flat:checked~.on {
    color: #fff;
}

.switch>span.on {
    left: 0;
    padding-left: 2px;
    color: #000;
}

.switch>span.off {
    right: 0;
    padding-right: 4px;
    color: #fff;
}

.check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.check-toggle+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.check-toggle-round-flat+label {
    padding: 2px;
    width: 97px;
    height: 35px;
    background-color: #000;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
}

input.check-toggle-round-flat+label:before,
input.check-toggle-round-flat+label:after {
    display: block;
    position: absolute;
    content: "";
}

input.check-toggle-round-flat+label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #000;
    -webkit-border-radius: 52px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
}

input.check-toggle-round-flat+label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 48px;
    background-color: #fff;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -o-transition: margin 0.2s;
    transition: margin 0.2s;
}

input.check-toggle-round-flat:checked+label:after {
    margin-left: 42px;
}

.image img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.section {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
}

.text {
    font-family: 'Open Sans', sans-serif;
}

.text h1 {
    font-size: 40px;
    text-align: center;
}

.text p {
    color: rgb(59, 56, 56);
    text-align: center;
}

.btn {
    margin-top: 30px;
    text-align: center;
}

.btn button {
    width: 180px;
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
    margin: 0 5;
}

.btn button:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

}

.contact-btn {
    color: #fff;
    border: none;
    background-color: black;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.check-btn {
    color: #000;
    background-color: #fff;
    cursor: pointer;
    border: 2px solid gray;
}

.work {
    margin-top: 60px;
}

.work-text {
    text-align: center;
}

.work-text h1 {
    font-size: 40px;
}

.select_btn {
    margin-top: 30px;
    padding: 0 20px;

}

.checkbox-tools[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

.select_btn label {
    color: black;
    background-color: rgb(231, 231, 231);
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 20px;
}

.checkbox-tools[type=radio]:checked+label {
    color: white;
    background: black;
}

.project-content {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    height: auto;
    padding: 0 20%;
    gap: 10%;
}

.box-con h5 {
    text-align: left;
    margin-left: 18px;
    margin-top: 5px;
}

.box-con p {
    text-align: left;
    color: gray;
    margin-left: 18px;
    font-size: 11px;
}

.image-box img {
    width: 200px;
    height: 150px;
    border: 10px solid rgb(226, 226, 226);
    border-radius: 20px;
}

.box-con {
    text-align: left;
    margin-left: 18px;
    margin-top: 5px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000;
}

.image-label {
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url("../accessory/image/bars-solid.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.menu-btn {
    cursor: pointer;
    display: none;
}

@media (max-width: 992px) {
    .section {
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
    }

    .select_btn {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 10px;
    }

    .project-content {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
    }

    .center-menu,
    .github-icon,
    .facebook-icon {
        display: none;
    }

    .menu-btn {
        display: flex;
    }

    .right-menu {
        margin-right: 0px;
        gap: 40px;
    }
    .slide-menu {
        display: block;
        width: 100%;
        height: 0px;
        overflow: hidden;
        transition: height 0.3s ease;
    }
    #image-checkbox{
        display: none;
    }
    #image-checkbox:checked + .image-label ~ .slide-menu {
        height: 300px; 
        border: 1px solid black;
    }
    #image-checkbox:not(:checked)+.image-label ~ .slide-menu{
        height: 0px;
    }

}